<template>
  <h1>Sign-In</h1>
  <div>
      <FormInput/>
  </div>
</template>

<script>
    import FormInput from './FormInput';
    export default {
        name: 'UserLoginForm',
        components: {
            FormInput,
        }
    }
</script>

<style>

</style>